"@locaweb:registry"=https://pkgs.dev.azure.com/locaweb/_packaging/locaweb-npm/npm/registry/
always-auth=true

//pkgs.dev.azure.com/locaweb/_packaging/locaweb-npm/npm/registry/:username=locaweb
//pkgs.dev.azure.com/locaweb/_packaging/locaweb-npm/npm/registry/:_password=c2lkdHZubno2MnF4dTQ3YWFqdnZ2cmZsZjZia3k0dm03cXhwZWg1b2RyamQ2cmZ3bnZlYQ==
//pkgs.dev.azure.com/locaweb/_packaging/locaweb-npm/npm/registry/:email=leonardo.teodoro@fabrica.locaweb.com.br
//pkgs.dev.azure.com/locaweb/_packaging/locaweb-npm/npm/:username=locaweb
//pkgs.dev.azure.com/locaweb/_packaging/locaweb-npm/npm/:_password=c2lkdHZubno2MnF4dTQ3YWFqdnZ2cmZsZjZia3k0dm03cXhwZWg1b2RyamQ2cmZ3bnZlYQ==
//pkgs.dev.azure.com/locaweb/_packaging/locaweb-npm/npm/:email=leonardo.teodoro@fabrica.locaweb.com.br